Package: evi
Version: 0.0.1
Maintainer: Sjoerd Vermeulen <sjoerd@marsenaar.com>
Source: https://github.com/SjVer/Evi-Lang
Homepage: https://github.com/SjVer/Evi-Lang
Architecture: amd64
Priority: optional
Depends: llvm-12
Description: The Evi Compiler
 More information at https://github.com/SjVer/Evi-Lang.